/* site logo  */
#logo{
    height: 3rem;
}





.carousel-caption {
    top: 60%;
    transform: translateY(-50%);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00000050;
}

/* \start{code} */

@media (max-width: 767.98px) and (min-width: 332px) {
    .carousel-caption {
        top: 50%;
    }
}
@media (max-width: 500px) {
    .carousel-caption {
        top: 40%;
    }
}
/* \end{code} */

/* Line Left */
.line_left {
    background: green;
    height: 3px;
    width: 100%;
    position: relative;
}
.line_left::before {
    position: absolute;
    content: '';
    background: green;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.line_left::after {
    position: absolute;
    content: '';
    background: white;
    height: 19px;
    width: 19px;
    border-radius: 100%;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

/* Line Center */

.line_center {
    background: green;
    height: 3px;
    width: 100%;
    position: relative;
}
.line_center::before {
    position: absolute;
    content: '';
    background: green;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.line_center::after {
    position: absolute;
    content: '';
    background: white;
    height: 19px;
    width: 19px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#about .row {
    align-items: center;
}


/* Header */
.header_social_media a {
    color: white;
    text-decoration: none;
    height: 28px;
    width: 28px;
    background: #c52b2b;
    border: 1px solid #c52b2b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_social_media a:hover svg {
    color: black;
    transition: 1s;
}

.header_social_media a:not(:last-child) {
    margin-right: 8px;
}

/* Services Section Start */
#service {
    background-image: url('../images/services.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

#service h2 {
    background: #ffffff80;
    padding: 15px 30px;
    color: #000;
    border-radius: 100px;

}


/* Testimonial */

.testimonial_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial_inner .comment {
    max-width: 500px;
    text-align: center;
}
.client_image {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #c52b2b;
}



#testimonial {
    background-image: url('../images/bg_testimonial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* Team Member */

#teamMember .card-body {
    height: 75px;
    position: relative;
}

#teamMember .card-header {
    border-bottom: 0;
}
#teamMember .card-body {
    border-top: 0;    
    cursor: pointer;
}


#teamMember .card-body .personal_social_media {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -500px;
    background: #c52b2b;
    padding: 15px;
    transition: 0.8s;
}

#teamMember .card-body:hover .personal_social_media {
    left: 0;
}

#teamMember .card-body .personal_social_media_item {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

#teamMember .card-body .personal_social_media_item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    border: 2px solid black;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    transition: 0.8s;
}
#teamMember .card-body .personal_social_media_item a:not(:last-child) {
    margin-right: 12px;
}

#teamMember .card-body .personal_social_media_item a:hover {
    color: black;
    background: white;
    border: 2px solid white;
}