* {
  padding: 0;
  margin: 0;
}
nav .container {
  height: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
nav {
  height: 65px;
  background: rgb(189, 59, 236);
}
nav .navbar-brand img {
  width: 100px;
}
nav .navbar-nav {
  display: flex;
  padding: 0;
  list-style: none;
}
nav .navbar-nav .navbar-link {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
}
nav .navbar-nav .navbar-link.dropdown-toggle::after {
  content: "";
  background-color: red;
  border-top:7px solid red ;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top:15px;
  right:-2px;

}
nav .navbar-nav .dropdown-menu{
    background-color: green;
    list-style: none;
    padding: 10px;
    min-width: 130px;
    position: absolute;    
    left:-9999
}

nav .navbar-nav .dropdown{
    position: relative;
}
nav .navbar-nav .dropdown:hover .dropdown-items{
    left: 12px;
    transition: .8s;
    
}
nav .navbar-nav .dropdown-menu .dropdown-items{
    text-decoration: none;
    color: white;
    padding: 5px 3px;
    display: inline-block;
}